<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index::head}"></head>
<body>
    <div th:insert="~{index::navbar}"></div>
    
    <div class="min-vh-100">
        <div class="container-fluid p-5 bg-secondary-subtle text-center">
            <div class="row justify-content-center">
                <div class="col-12">
                    <span class="h1">Modifica articolo</span>
                    <h2 th:text="${article.title}">Titolo</h2>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-12 my-5">
                    <form th:action="@{/article/update/{id}{id=${article.id}}}" method="post" th:object="${article}" enctype="multipart/form-data">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="articleTitle" class="form-label">Titolo</label>
                                <input type="text" class="form-control" id="articleTitle" th:field="*{title}" placeholder="Inserisci un articolo">
                                <p class="text-danger" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
                            </div>
                            <div class="col">
                                <label for="subtitle" class="form-label">Sottotitolo</label>
                                <input type="text" class="form-control" id="subtitle" th:field="*{subtitle}" placeholder="Inserisci un sottotitolo">
                                <p class="text-danger" th:errors="*{subtitle}" th:if="${#fields.hasErrors('subtitle')}"></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="body" class="form-label">Articolo:</label>
                            <input type="text" class="form-control" id="body" th:field="*{body}" placeholder="Inserisci il corpo dell'articolo">
                            <p th:errors="*{body}" class="text-danger" th:if="${#fields.hasErrors('body')}"></p>
                        </div>
                        
                        <div class="mb-3">
                            <label for="date" class="form-label">Publish date (8 chars)</label>
                            <input type="date" class="form-control" id="date" th:field="*{publishDate}" placeholder="yyyyMMdd">
                        </div>
                        
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <select id="category" th:field="*{category}" class="form-select">
                                <option th:value="${category.id}" th:each="category:${category}" th:text="${category.name}"></option>
                                <p class="text-danger" th:errors="*{category}" th:if="${fields.hasErrors('category')}"></p>
                            </select>
                        </div>
                        
                        <div class="mb-3 d-flex flex-column" th:if="${article.image != null}">
                            <label for="image" class="form-label">Immagine dell'articolo</label>
                            <img th:src="${article.image.path}" class="img-fluid" alt="${article.image.path}">
                        </div>
                        <div th:unless="${article.image != null}">
                            <label for="image" class="form-label">Immagine dell'articolo</label>
                            <p>Immagine non presente</p>
                        </div>
                        
                        <div class="mb-3">
                            <label for="image" class="form-label">Image</label>
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
                        
                        <button class="btn btn-success" type="submit">Modifica</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div th:insert="~{index::footer}"></div>
    <script th:replace="~{index::bootstrapScript}"></script>
</body>
</html>