<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{index::head}"></head>
<body>
    
    <head th:insert="~{index::navbar}"></head>
        <div class="container-fluid">
            <div class="row ms-5 vh-100 align-items-center">
                <div class="col-10">
                    <h1 class="mb-5">Welcome to <span class="display-4 fw-bold d-block">New Aulab Article</span></h1>
                </div>
         </div>
        </div>
    <head th:insert="~{index::footer}"></head>
    <script th:replace="~{index::bootstrapScript}"></script>
</body>
</html>